<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--search') %>
<% provide(:button_text, "検索") %>
<h1>ユーザー一覧</h1>

<div class=" search-form">
  <h7 class="search-name col-auto">ユーザー名検索</h7>
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.text_field :name, placeholder: "キーワードを入力…" %>
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<div class="col-md-12">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %> | 
          <%= link_to "基本情報編集", edit_user_path(user) %>
          <% unless user.admin %>
            |  <%= link_to "削除", user, method: :delete,
            data: { confirm: "削除してよろしいですか？" }%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>